.intro-div {
    position: relative;
    background-image: url("Images/unibackground.png");
    background-size: cover;
    background-position: center 30%;

    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: flex-start; 
    text-align: center;
    padding-top: 0px;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.words {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}


.chatbot,
.considerations,
.resources {
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

.chatbot {
    background-color: rgb(247, 235, 218);
    color: darkblue;
}

.considerations {
    text-align: center;
    background-color: powderblue;
    color: black;
}

.resources {
    text-align: center;
    background-color: rgb(221, 236, 250);
    color: black;
}

.globe {
    display: block;
    margin: 0 auto;
}

.image {
    padding: 20px;
    text-align: center;
}

.promotion {
    padding: 10px;
    text-align: center;
}

.international {
    padding: 30px;
    text-align: center;
}


@media (max-width: 768px) {
    .words {
        font-size: 2rem;
    }

    .intro-div {
        min-height: 350px;
        padding: 20px;
    }

    .chatbot,
    .considerations,
    .resources {
        max-width: 90%;
    }
}
